*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  top: 0 !important;
  margin: 0;
  padding: 0;

  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}
