.page--register-course {
  .header__content {
    span {
      display: none;
    }
  }

  .button__goBack {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
      color: black;
      text-decoration: none;
    }
  }

  .card__item {
    height: auto;
    margin-right: 0;
    padding: 25px;
    text-align: justify;

    img {
      bottom: -50px;
    }

    span {
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9rem;
      letter-spacing: -0.24px;
      font-weight: 400;
      margin: 0;
    }
  }
}
