.input {
  background-color: #f5eeff;
  border-radius: 5px;
  height: 58px;
  padding: 0 15px;
  flex: none;

  input {
    border: none;
    outline: none;
    margin-left: 10px;
    background-color: #f5eeff;
  }
}

.input__container {
  h6 {
    color: white;
    font-size: 1rem;
    text-decoration: none;
  }
}
