.page--register {
  label {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.8rem;
    color: white;
    margin-left: 15px;

    b {
      text-decoration: underline;
    }
  }

  input[type='radio'] {
    width: 25px;
    height: 25px;
  }

  h6 {
    color: white;
    font-size: 1rem;
    text-decoration: none;
  }
}
